#desktop {
  display: none;
}

html {
  font-family: Arial,Helvetica,sans-serif;
}

#heading img{
  width: 15%;
}

#heading h1 {
  width: 85%;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  float: right;
  color: #2B6CA3;
  font-size: 7vmin;
  line-height: 1.182em;
  font-weight: bold;
}

#nav-heading p {
  display: inline-block;
  width: 80%;
  text-align: center;
  background-color: #2B6CA3;
  color: white;
  padding: 17px 0 18.5px 0;
  font-size: 1.5em;
}

#nav-heading #dropdown{
  width: 20%;
  float: right;
}

/* Arrow Reference: https://www.w3schools.com/howto/howto_css_arrows.asp */ 
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px 3px 3px 3px;
  margin-bottom: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Dropdown menu Reference: https://www.w3schools.com/css/css_dropdowns.asp */
#dropbtn {
  background-color: #2B6CA3;
  width: 100%;
  color: white;
  padding: 1.3em;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e76b1;
  width: 500%;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

#dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 18px 0 18px 0;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
  background-color: #103858;
}

#dropdown:hover #dropdown-content {
  display: block;
}

#dropdown:hover #dropbtn {
  background-color: #103858;
}

/* */
#sub-nav-heading #sub-dropdown {
  width: 20%;
  float: right;
}

#sub-nav-heading #sub-nav {
  width: 60%;
  display: inline-block;
  padding-left: 20%;
}


#sub-dropbtn {
  background-color: #236fad;
  width: 100%;
  color: white;
  padding: 1.3em;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#sub-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

#sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: #2577b9;
  width: 500%;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

#sub-dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 18px 0 18px 0;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
}

#sub-dropdown-content a:hover {
  background-color: #103858;
}

#sub-dropdown:hover #sub-dropdown-content {
  display: block;
}

#sub-dropdown:hover #sub-dropbtn {
  background-color: #103858;
}

@media screen and (min-width: 992px){
  #mobile {
    display: none;
  }

  .dropdown {
    display:none;
  }

  #desktop {
    display: block;
  }
  
  /* Reference: https://www.w3schools.com/howto/howto_css_subnav.asp */
  #navbar {
    overflow: hidden;
    background-color: #2B6CA3;
  }
  
  #navbar a {
    float: left;
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 33.33%;
    padding: 1em 0 1em 0;
  }

  #subnav {
    width: 33.33%;
  }

  #subnavbtn {
    width: 100%;
  }

  i {
    float: right;
  }

  #subnav-content a {
    float: left;
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 1em 0 1em 0;
    text-decoration: none;
    width: 25%;
  }
  
  #subnav {
    float: left;
    overflow: hidden;
  }
  
  #subnav #subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  #navbar a:hover, #subnav:hover #subnavbtn {
    background-color: #103858;
  }
  
  #subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #2e76b1;
    width: 100%;
    z-index: 1;
  }
  
  #subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  #subnav-content a:hover {
    background-color: #194468;
    color: white;
  }
  
  #subnav:hover #subnav-content {
    display: block;
  }
}

.slider img {
  margin: 0 auto;
  vertical-align: middle;
  width: 100%;
}

#content .bx-wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#content .bx-wrapper .bx-pager.bx-default-pager a {
  display: none;
}

#text-content ul { 
  list-style-type: disc; 
  list-style-position: inside; 
}

#text-content {
  font-size: 1.1em;
}

#text-content li{
  padding-bottom: 1em;
}

#text-content ul {
  width: 90%;
  margin: 0 auto;
}

#text-content p {
  padding-bottom: 1.5em;
}
#text-content {
  width: 80%;
  margin: 0 auto;
}

#text-content a p {
  text-align: center;
  font-size: 1.3em;
  color: #2e76b1;
}

#text-content a{
  text-decoration: none;
}

#text-content a:hover {
  text-decoration: underline;
}
